.modal {
  margin: 0 16px;

  &__inner {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 500px;
  padding: 24px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .302), 0 2px 6px 2px rgba(60, 64, 67, .149);
  border-radius: 10px;
  margin: 0 auto 24px;
  }

  &__title {
    border: none;
    outline: none;
    margin-bottom: 24px;
  }

  &__date {
    border: 2px solid #FC0;
    border-radius: 4px;
    padding: 2px;
  }

  &__button {
    height: 28px;
    background-color: #FC0;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__type {
    display: flex;
    justify-content: space-between;

    &_text {
      width: 100%;
      border: none;
      outline: none;
      margin-bottom: 24px;
      resize: none;
    }

    &_image {
      margin-left: 10px;
    }
  }

  &__action {
    display: flex;
    justify-content: flex-end;
  }
}
