@import "../../shared";

.reminder {
  display: flex;
  align-items: center;
  margin: 12px 26px;

  &__text {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin-left: 14px;
  }
}

.note {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  transition: box-shadow .4s;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0;
    flex-grow: 1;
    border-radius: 16px;
    width: 100%;
  }

  &__white {
    display: flex;
    flex-grow: 1;
    border-radius: 16px;
    background-color: #fff;
  }

  &__reminder {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 16px;
    background-color: #db5341;
  }

  &__attachment {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #e7e7e7;
  }

  &__checklist {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #fff;
  }

  &__image img {
    width: 100%;
    border-radius: 16px;
  }

  &__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin: 0 24px 12px;
    @include fontsize(22px, 24px, 24px, 28px, $small, $large);
    //-webkit-box-orient: vertical;
  }

  &__list {
    display: flex;
    width: fit-content;
    flex-direction: column;
    //margin: 0 24px 10px;
  }

  &__text {
    white-space: pre-line;
    margin: 0 24px 12px;
    @include fontsize(16px, 20px, 18px, 22px, $small, $large);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 24px;
  }

  &__tag {
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 0 12px;
    border-radius: 16px;
    background: rgba(51, 51, 51, .1);
    cursor: pointer;
    transition: background .4s;

    &:hover {
      background: rgba(51, 51, 51, .2);
    }
  }

  &__footer {
    flex-grow: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__info {
    display: flex;
    padding: 0 24px 24px;
    justify-content: space-between;
  }

  &_active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    & .note__main {
      padding-top: 64px;
    }

    & .reminder {
      display: none;
    }
  }

  &:hover {
    box-shadow: 0 2px 6px rgba(197, 186, 186, .5);
  }
}

.site {
  display: flex;
  align-items: center;
  margin: 0 24px;
  padding: 12px 0;
  border-bottom: 1px solid white;

  &:last-child {
    border: none;
  }

  &__link {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 12px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: bold;
    transition: color .4s;

    &:hover {
      color: #db5341;
    }
  }
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  margin: 12px 12px;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12px;

  &__icon {
    margin-left: 12px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.icons {
  transition: opacity .4s;

  &__item {
    margin-right: 17px;
    cursor: pointer;
    opacity: .5;
    transition: opacity .4s;

    &:hover{
      opacity: 1;
    }

    & g{
      opacity: inherit;
    }
  }
}

.checklist {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 24px 0;
}

.checkbox {
  position: relative;
  width: fit-content;
  margin-bottom: 12px;
  margin-right: 12px;

  & input {
    display: none;
  }

  &__span {
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    @include fontsize(16px, 18px, 20px, 22px, $small, $large);

    &::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      margin-right: 12px;
      border-radius: 3px;
      width: 18px;
      height: 18px;
      background-color: #D9D9D9;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 4px;
      left: 1px;
      width: 8px;
      height: 4px;
      border: solid 2px;
      border-right: none;
      border-top: none;
      transform: translate(3px, 0) rotate(-45deg);
    }
  }
}

input:checked ~ .checkbox__span {
  text-decoration: line-through;
}

input:checked ~ .checkbox__span::after {
  display: block;
}

input:checked ~ .checkbox__span::before {
  background-color: #FC0;
}

.l {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.m {
  grid-column-end: span 2;
}

.s {
  grid-column-end: span 2;
}

@media screen and (min-width: 768px){
  .icons{
    opacity: 0;
  }

  .note:hover .icons{
    opacity: 1;
  }

  .note__title {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .l {
    grid-column-end: span 4;
    grid-row-end: span 3; //заглушка
  }

  section.notes > div > div:nth-child(9) {
    grid-row-end: span 2; //заглушка
  }

  .m {
    grid-column-end: span 3;
  }

  .s {
    grid-column-end: span 2;
  }

  .note_active {
    height: auto;
    position: fixed;
    top: 25%;
    width: 50%;
    left: 25%;

    & .note__main {
      padding-top: 0;
    }

    & .reminder {
      display: block;
    }
  }
}
