@import "../../shared";

.note {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  transition: box-shadow .4s;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0;
    flex-grow: 1;
    border-radius: 16px;
    width: 100%;

    &_list {
      margin-bottom: 24px;
    }

    &_image {
      padding: 0 0 24px;
    }
  }

  &__white {
    display: flex;
    flex-grow: 1;
    border-radius: 16px;
    background-color: #fff;
  }

  &__reminder {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 16px;
    background-color: #db5341;
  }

  &__attachment {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #e7e7e7;
  }

  &__checklist {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #fff;
    padding-bottom: 24px;
  }

  &__title {
    margin: 0 24px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;

    /* autoprefixer: off */

    -webkit-box-orient: vertical;
    @include fontsize(22px, 24px, 24px, 28px, $small, $large);
  }

  &__list {
    display: flex;
    width: fit-content;
    flex-direction: column;
  }

  &__text {
    white-space: pre-line;
    margin: 0 24px 12px;
    overflow-wrap: break-word;
    @include fontsize(16px, 20px, 18px, 22px, $small, $large);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 24px;
  }

  &__tag {
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 0 12px;
    border-radius: 16px;
    background: rgba(51, 51, 51, .1);
    cursor: pointer;
    transition: background .4s;

    &:hover {
      background: rgba(51, 51, 51, .2);
    }
  }

  &_active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

    & .note__main {
      padding-top: 64px;
    }

    & .reminder {
      display: none;
    }
  }

  &:hover {
    box-shadow: 0 2px 6px rgba(197, 186, 186, .5);
  }
}

.l {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.m {
  grid-column-end: span 2;
}

.s {
  grid-column-end: span 2;
}

@media screen and (min-width: 768px){
  .note__title {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .l {
    grid-column-end: span 4;
    grid-row-end: span 3; //заглушка
  }

  section.notes > div > div:nth-child(9) {
    grid-row-end: span 2; //заглушка
  }

  .m {
    grid-column-end: span 3;
  }

  .s {
    grid-column-end: span 2;
  }

  .note_active {
    height: auto;
    position: fixed;
    top: 25%;
    width: 50%;
    left: 25%;

    & .note__main {
      padding-top: 0;
    }

    & .reminder {
      display: block;
    }
  }
}
