@import "../../shared";

.tags {
  overflow: hidden;
  height: 64px;
  margin-top: 80px;

  &__inner {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 30px;
    width: 100%;
  }

  &__title {
    display: none;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    margin-left: 16px;
  }

  & input {
    display: none;
  }
}

.tag {
  margin-left: 16px;
}

.tag__span {
  display: block;
  position: relative;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  opacity: .4;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    opacity: 1;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 15px;
    left: 10px;
    width: 17px;
    height: 8px;
    border: 4px none;
    border-left: 5px solid;
    border-bottom-style: solid;
    transform: translate(3px, 0) rotate(-45deg);
  }
}

input:checked ~ .tag__span {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  opacity: 1;
}

input:checked ~ .tag__span::after {
  display: block;
}

@media (min-width: 1200px) {
  .tags {
    margin-top: 96px;

    &__title {
      display: block;
      margin-left: 173px;
    }
  }

  .tag__span {
    height: 32px;
    width: 32px;

    &::after {
      top: 10px;
      left: 5px;
      width: 11px;
      height: 6px;
      border: 3px none;
      border-left: 4px solid;
      border-bottom-style: solid;
    }
  }
}
