.search {
  display: flex;
  width: 100%;

  &__input{
    font-size: 15px;
    line-height: 32px;
    width: 100%;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
    outline: none;
    transition: border .3s;

    &:focus {
      border: 2px solid #ffdb4d;
    }
  }

  &__span{
    position: relative;

    &::after{
      content: url("svg/reset.svg");
      position: absolute;
      top: 7px;
      right: 11px;
      height: 10px;
      width: 10px;
      cursor: pointer;
    }
  }

  &__button{
    font-size: 15px;
    line-height: 32px;
    border: none;
    outline: none;
    height: 100%;
    padding: 0 16px;
    background: #E6E6E6;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background .3s
  }

  &:hover .search__input {
    border: 2px solid #d6d6d6;
  }

  &:hover .search__button {
    background: #d7d7d7;
  }
}
