* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica,sans-serif,Helvetica Neue,Arial;
  background-color: #F2F2F2;
}

.main {
  margin-top: 80px;
}

a {
  color: #000;
}

@media (min-width: 1200px) {
  .main {
    margin-top: 96px;
  }
}
